absl-py==2.3.1
accelerate==1.12.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.12.0
asttokens==3.0.1
async-timeout==5.0.1
attrs==25.4.0
av==15.1.0
bddl==1.0.1
certifi==2025.11.12
cffi==2.0.0
cfgv==3.5.0
charset-normalizer==3.4.4
click==8.3.1
cloudpickle==3.1.2
cmake==4.1.3
cmeel==0.57.3
cmeel-assimp==5.4.3.1
cmeel-boost==1.87.0.1
cmeel-console-bridge==1.0.2.3
cmeel-octomap==1.10.0
cmeel-qhull==8.0.2.1
cmeel-tinyxml2==10.0.0
cmeel-urdfdom==4.0.1
cmeel-zlib==1.3.1
coal-library==3.0.1
contourpy==1.3.2
coverage==7.12.0
cycler==0.12.1
datasets==4.1.1
debugpy==1.8.17
decorator==5.2.1
deepdiff==8.6.1
diffusers==0.35.2
dill==0.4.0
distlib==0.4.0
distro==1.9.0
dm-control==1.0.34
dm-env==1.6
dm-tree==0.1.9
docopt==0.6.2
draccus==0.10.0
dynamixel-sdk==3.8.4
easydict==1.13
egl-probe==1.0.2
eigenpy==3.10.3
einops==0.8.1
eiquadprog==1.2.9
elevenlabs==2.26.1
etils==1.13.0
exceptiongroup==1.3.1
executing==2.2.1
farama-notifications==0.0.4
fastapi==0.123.10
fastjsonschema==2.21.2
feetech-servo-sdk==1.0.0
filelock==3.20.0
fonttools==4.61.0
frozenlist==1.8.0
fsspec==2025.9.0
future==1.0.0
gitdb==4.0.12
gitpython==3.1.45
glfw==2.10.0
grpcio==1.73.1
grpcio-tools==1.73.1
gym-aloha==0.1.3
gym-hil==0.1.13
gym-pusht==0.1.6
gymnasium==1.2.2
h11==0.16.0
h5py==3.15.1
hebi-py==2.11.0
hf-egl-probe==1.0.2
hf-libero==0.1.3
hf-transfer==0.1.9
hf-xet==1.2.0
hidapi==0.14.0.post4
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface-hub==0.35.3
hydra-core==1.3.2
identify==2.6.15
idna==3.11
imageio==2.37.2
imageio-ffmpeg==0.6.0
importlib-metadata==8.7.0
importlib-resources==6.5.2
iniconfig==2.3.0
inquirerpy==0.3.4
ipython==8.37.0
ischedule==1.2.7
jedi==0.19.2
jinja2==3.1.6
jiter==0.12.0
jsonlines==4.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter-core==5.9.1
jupytext==1.18.1
kiwisolver==1.4.9
labmaze==1.0.6
lazy-loader==0.4
lerobot==0.4.2
llvmlite==0.45.1
lxml==6.0.2
markdown==3.10
markdown-it-py==4.0.0
markupsafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.2.1
mdit-py-plugins==0.5.0
mdurl==0.1.2
mergedeep==1.3.4
meshcat==0.3.2
metaworld==3.0.0
mock-serial==0.0.1
mpmath==1.3.0
mujoco==3.3.7
multidict==6.7.0
multiprocess==0.70.16
mypy-extensions==1.1.0
nbformat==5.10.4
networkx==3.4.2
nodeenv==1.9.1
num2words==0.5.14
numba==0.62.1
numpy==2.2.6
omegaconf==2.3.0
openai==2.11.0
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
orderly-set==5.5.0
packaging==25.0
pandas==2.3.3
parso==0.8.5
pexpect==4.9.0
pfzy==0.3.4
pillow==12.0.0
pin==3.4.0
placo==0.9.16
platformdirs==4.5.1
pluggy==1.6.0
pre-commit==4.5.0
prompt-toolkit==3.0.52
propcache==0.4.1
protobuf==6.31.0
psutil==7.1.3
ptyprocess==0.7.0
pure-eval==0.2.3
pyarrow==22.0.0
pyaudio==0.2.14
pycparser==2.23
pydantic==2.12.5
pydantic-core==2.41.5
pygame==2.6.1
pygments==2.19.2
pymunk==6.11.1
pyngrok==7.5.0
pynput==1.8.1
pyobjc-core==12.1
pyobjc-framework-applicationservices==12.1
pyobjc-framework-cocoa==12.1
pyobjc-framework-coretext==12.1
pyobjc-framework-quartz==12.1
pyopengl==3.1.10
pyparsing==3.2.5
pyquaternion==0.9.9
pyrealsense2-macosx==2.54.2
pyserial==3.5
pytest==8.4.2
pytest-cov==7.0.0
pytest-timeout==2.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pytz==2025.2
pyyaml==6.0.3
pyyaml-include==1.4.1
pyzmq==27.1.0
reachy2-sdk==1.0.15
reachy2-sdk-api==1.0.21
referencing==0.37.0
regex==2025.11.3
requests==2.32.5
rerun-sdk==0.26.2
rhoban-cmeel-jsoncpp==1.9.4.9
robomimic==0.2.0
robosuite==1.4.0
rpds-py==0.30.0
safetensors==0.7.0
scikit-image==0.25.2
scipy==1.15.3
sentry-sdk==2.47.0
setuptools==80.9.0
shapely==2.1.2
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
speechrecognition==3.14.4
stack-data==0.6.3
starlette==0.50.0
sympy==1.14.0
teleop==0.1.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardx==2.6.4
termcolor==3.2.0
thop==0.1.1.post2209072238
tifffile==2025.5.10
tokenizers==0.22.1
toml==0.10.2
tomli==2.3.0
torch==2.7.1
torchcodec==0.5
torchvision==0.22.1
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.57.3
transforms3d==0.4.2
typing-extensions==4.15.0
typing-inspect==0.9.0
typing-inspection==0.4.2
tzdata==2025.2
u-msgpack-python==2.8.0
urllib3==2.6.0
uvicorn==0.38.0
uvloop==0.22.1
virtualenv==20.35.4
wandb==0.21.4
watchfiles==1.1.1
wcwidth==0.2.14
websocket-client==1.9.0
websockets==15.0.1
werkzeug==3.1.4
wrapt==2.0.1
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
